/* Basic */

.slide h2 {
    margin-top: 6px;
    margin-bottom: 34px;
    color: black;
    font: bold 50px/1 'PT Sans Narrow', sans-serif;
}

.slide * + h2 {
    margin-top: 41px;
}

.slide p {
    margin-top: 0;
    margin-bottom: 1em;
}

.slide p.note {
    color: var(--color-grey);
}

.slide figure {
    margin: 0;
}
