<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- style-src and font-src are needed for anchorJS rendering -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' dylanvanassche.be www.dylanvanassche.be; script-src 'self' www.dylanvanassche.be dylanvanassche.be gc.zgo.at 'unsafe-inline'; img-src 'self' www.dylanvanassche.be dylanvanassche.be https:; style-src 'self' www.dylanvanassche.be dylanvanassche.be 'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU='; font-src 'self' dylanvanassche.be www.dylanvanassche.be data:">

  <title>{{ site.name }}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  {% if site.serve_og_meta %}
    <meta property="og:site_name" content="{{ site.description }}" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:description" content="{{ page.title }}" />
    <meta property="og:image"
          content="{%- if page.og_image -%}{{ page.og_image }}{%- else -%}{{ site.og_image }}{%- endif -%}" />
  {% endif %}

  <link rel="shortcut icon" href="{{ '/assets/img/favicon.png' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
