<div class="social">
  <span class="contacticon center">
    {% if site.email %}<a rel="noreferrer" href="mailto:{{ site.email | encode_email }}" aria-label="E-mail" title="E-mail"><i class="fas fa-envelope" aria-hidden="true"></i></a>{% endif %}
    {% if site.pgp %}<a rel="noreferrer" href="./assets/public-pgp.key" aria-label="PGP key" title="PGP key"><i class="fas fa-key" aria-hidden="true"></i></a>{% endif %}
    {% if site.orcid_id %}<a rel="noreferrer" href="https://orcid.org/{{ site.orcid_id }}" target="_blank" aria-label="ORCID" title="ORCID"><i class="ai ai-orcid" aria-hidden="true"></i></a>{% endif %}
    {% if site.scholar_userid %}<a rel="noreferrer" href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" aria-label="Google Scholar" title="Google Scholar"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>{% endif %}
    {% if site.github_username %}<a rel="noreferrer" href="https://github.com/{{ site.github_username }}" target="_blank" aria-label="Github" title="GitHub"><i class="fab fa-github"i aria-hidden="true"></i></a>{% endif %}
    {% if site.twitter_username %}<a rel="noreferrer" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" aria-label="Twitter" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>{% endif %}
    {% if site.mastodon_username %}<a rel="noreferrer" href="https://fosstodon.org/@{{ site.mastodon_username }}" target="_blank" aria-label="Mastodon" title="Mastodon"><i class="fab fa-mastodon" aria-hidden="true"></i></a>{% endif %}
  </span>

  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>
