---
layout: default
---

<div class="header-bar">
  <h1>{{ site.blog_name }}</h1>
  <h2>{{ site.blog_description }}</h2>
</div>

{% include kg/blog.html %}

<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      {% if post.redirect %}
        <h2><a class="post-title" href="{{ post.redirect }}">{{ post.title }}</a></h2>
      {% else %}
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      {% endif %}
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>

{% include pagination.html %}
