---
---

{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr>[<a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a>]</abbr>
  {% else %}
    <abbr>[{{entry.abbr}}]</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}
    <span class="title">
        <b>{{entry.title}}</b>
        {% if entry.award %}
            <b><mark>{{entry.award}}</mark></b>
        {% endif %}
        <a href="#{{entry.key}}" title="{{entry.title}}"><i class="fas fa-link"></i></a>
    </span>
    <span class="author">
      {% for author in entry.author_array %}
        {% if forloop.length == 1 %}
          {% if author.last == site.scholar.last_name %}
            <em>{{author.last}} {{author.first}}</em>
          {% else %}
            {{author.last}} {{author.first}}
          {% endif %}
        {% else %}
          {% unless forloop.last %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.last}} {{author.first}}</em>,
            {% else %}
              {% if site.data.coauthors[author.last] %}
                <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}} {{author.first}}</a>, 
              {% else %}
                {{author.last}} {{author.first}},
              {% endif %}
            {% endif %}
          {% else %}
            {% if author.last == site.scholar.last_name %}
              and <em>{{author.last}} {{author.first}}</em>
            {% else %}
              {% if site.data.coauthors[author.last] %}
                and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}} {{author.first}}</a> 
              {% else %}
                and {{author.last}} {{author.first}}
              {% endif %}
            {% endif %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </span>

    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
    {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
    {% elsif entry.type == "mastersthesis" %}
      <em>Master Thesis</em>
    {% elsif entry.type == "techreport" %}
      <em>Technical Report</em>
    {% endif %}
    {% if entry.year %}
      {{entry.year}}
    {% endif %}
    </span>
  {% endif %}

  <span class="links">
  {% if entry.abstract %}
    [<a class="abstract">Abstract</a>]
  {% endif %}
  {% if entry.arxiv %}
    [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
  {% endif %}
  {% if entry.html %}
    [<a href="{{ entry.html }}" target="_blank">HTML</a>]
  {% endif %}
  {% if entry.doi %}
    [<a href="{{ entry.doi }}" target="_blank">DOI</a>]
  {% endif %}
  {% if entry.urn %}
    [<a href="{{ entry.urn }}" target="_blank">URN</a>]
  {% endif %}
  {% if entry.pdf %}
    [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>]
  {% endif %}
  {% if entry.supp %}
    [<a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
  {% endif %}
  {% if entry.poster %}
    [<a href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>]
  {% endif %}
  {% if entry.slides %}
    [<a href="{{ entry.slides }}" target="_blank">Slides</a>]
  {% endif %}
  {% if entry.video %}
    [<a href="{{ entry.video }}" target="_blank">Video</a>]
  {% endif %}
  {% if entry.demo %}
    [<a href="{{ entry.demo }}" target="_blank">Demo</a>]
  {% endif %}
  {% if entry.code %}
    [<a href="{{ entry.code }}" target="_blank">Code</a>]
  {% endif %}
  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  {% endif %}
</div>

{% include kg/publication.html %}
